.container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
  /* For Neumorphism Effect */
  /* background-color:#E0E5EC; */
  border-radius: 25px !important;
  background-color: #e0e5ec !important;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5) !important;
  /* For Neumorphism Effect */
}

.infected {
  color: rgba(0, 0, 255, 0.5) !important;
}
.recovered {
  color: rgba(0, 200, 0, 0.5) !important;
}
.deaths {
  color:rgba(255, 0, 0, 0.5) !important;
}

@media screen and (max-width: 768px) {
    .marginBottom {
        margin-bottom: 3% !important;
    }
}
